<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.backend.mapper.OfferMapper">
	<select id="listAllOffer" resultType="OfferMerchant">
		select id,name,linkman,telephone,address,remark from offer_merchant where delete_flag=0
	</select>
	
	<select id="findOffer" resultType="OfferMerchant">
		select id,name,linkman,telephone,address,remark from offer_merchant where id=#{id} and  delete_flag=0
	</select>
	
	<insert id="saveOffer" parameterType="OfferMerchant" useGeneratedKeys="true" keyProperty="id">
		insert into offer_merchant(name,linkman,telephone,address,remark) values(#{name},#{linkman},#{telephone},#{address},#{remark})
	</insert>
	
	<update id="updateOffer">
		update offer_merchant
		<set>
			<if test="name!=null and name!=''">
				name=#{name},
			</if>
			<if test="linkman!=null and linkman!=''">
				linkman=#{linkman},
			</if>
			<if test="telephone!=null and telephone!=''">
				telephone=#{telephone},
			</if>
			<if test="address!=null and address!=''">
				address=#{address},
			</if>
			<if test="remark!=null and remark!=''">
				remark=#{remark},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<update id="deleteOffer">
		update offer_merchant set delete_flag=1 where id = #{id}
	</update>
	
	<select id="findNameAndTelephone" resultType="OfferMerchant">
		select id,name,linkman,telephone,address,remark from offer_merchant
		where
		(#{name}=null or name like concat("%",#{name},"%"))
		and
		(#{telephone}=null or telephone like concat("%",#{telephone},"%"))
	</select>
</mapper>