<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.backend.mapper.StockMapper">
	<select id="findType" resultType="map">
		select m.id,m.name,m.parentId,m.remark,
		(select t.name from merchandise_type t where t.id=m.parentId) as tarentName
		from merchandise_type m
	</select>
	
	<select id="findTreeUI" resultType="map">
		select m.id,m.name,m.parentId,m.remark,
		(select t.name from merchandise_type t where t.id=m.parentId) as tarentName
		from merchandise_type m
	</select>
	
	<insert id="saveType" parameterType="MerchandiseType" useGeneratedKeys="true" keyProperty="id">
		insert into merchandise_type(parentId,name,remark) values(#{parentId},#{name},#{remark})
	</insert>
	
	<update id="updateType">
		update merchandise_type
		<set>
			<if test="name!=null and name!=''">
				name=#{name},
			</if>
			<if test="parentId!=null and parentId!=''">
				parentId=#{parentId},
			</if>
			<if test="remark!=null and remark!=''">
				remark=#{remark},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<select id="findTypeId" resultType="TypeInfo">
		select m.id,m.name,m.parentId,m.remark,
		(select t.name from merchandise_type t where t.id=m.parentId) as tarentName
		from merchandise_type m where id=#{id}
	</select>
	
	<select id="findTypeCount" resultType="Integer">
		select count(*) from merchandise_type where parentId=#{id}
	</select>
	
	<delete id="deleteType">
		delete from merchandise_type where id=#{id}
	</delete>
	
	<select id="findMerchId" resultType="MerchInfo">
		select m.id,m.bar_code as barCode,m.trade_name as tradeName,m.purchase_price as purchasePrice,
		m.presell_price as presellPrice,m.discount,m.remark
		,mt.name as mname,u.name as name from merchandise m
		left join unit u on m.uid=u.id
		left join merchandise_type mt on m.mid=mt.id
		where delete_flag=0 and m.id=#{id}
	</select>
	
	<insert id="insertUnit" parameterType="Unit" useGeneratedKeys="true" keyProperty="id">
		insert into unit(name) values(#{name})
	</insert>
	
	<insert id="saveMerchInfo" parameterType="MerchInfo" useGeneratedKeys="true" keyProperty="id">
		insert into merchandise(bar_code,trade_name,uid,purchase_price,presell_price,
		discount,mid,remark) values(#{barCode},#{tradeName},#{uid},#{purchasePrice},#{presellPrice},
		#{discount},#{mid},#{remark})
	</insert>
	
	<select id="findUnitName" resultType="UnitInfo">
		select id,name,count(*) as count from unit where name =#{name}
	</select>
	
	<update id="updateMerch">
		update merchandise
		<set>
			<if test="barCode!=null and barCode!=''">
				bar_code=#{barCode},
			</if>
			<if test="tradeName!=null and tradeName!=''">
				trade_name=#{tradeName},
			</if>
			<if test="uid!=null and uid!=''">
				uid=#{uid},
			</if>
			<if test="purchasePrice!=null and purchasePrice!=''">
				purchase_price=#{purchasePrice},
			</if>
			<if test="presellPrice!=null and presellPrice!=''">
				presell_price=#{presellPrice},
			</if>
			<if test="discount!=null and discount!=''">
				discount=#{discount},
			</if>
			<if test="mid!=null and mid!=''">
				mid=#{mid},
			</if>
			<if test="remark!=null and remark!=''">
				remark=#{remark},
			</if>
		</set>
		where id =#{id}
	</update>
	
	<select id="findMerchUI" resultType="map">
		select m.id,m.name,m.parentId,m.remark,
		(select t.name from merchandise_type t where t.id=m.parentId) as tarentName
		from merchandise_type m
	</select>
	
	<select id="findAllStock" resultType="MerchInfo">
		select m.id,m.bar_code as barCode,m.trade_name as tradeName,m.purchase_price as purchasePrice,
		m.presell_price as presellPrice,m.discount,
		(select mt.name from merchandise_type mt where mt.id=m.mid) as mname,
		m.remark,(select u.name from unit u where u.id=m.uid) as name from merchandise m
		where delete_flag=0
	</select>
	
	<update id="deleteStock">
		update merchandise set delete_flag=1 where id=#{id}
	</update>
	
	<select id="findStock" resultType="MerchInfo">
		select m.id,m.bar_code as barCode,m.trade_name as tradeName,m.purchase_price as purchasePrice,
		m.presell_price as presellPrice,m.discount,m.remark
		,mt.name as mname,u.name as name from merchandise m
		left join unit u on m.uid=u.id
		left join merchandise_type mt on m.mid=mt.id
		where
		(#{barCode}=null or bar_code like concat("%",#{barCode},"%"))
		and
		(#{tradeName}=null or trade_name like concat("%",#{tradeName},"%"))
	</select>
</mapper>